<div class="ae-container-fluid">
  <div class="ae-grid ae-grid--collapse rk-portfolio-info ">
    <div class="ae-grid__item item-lg-8 item-sm--center au-xs-ta-center au-lg-ta-left">
      <h2 class="rk-portfolio-inner-title "></h2>
    </div>
    <div class="ae-grid__item item-lg-4 au-xs-ta-center au-lg-ta-right rk-portfolio-details">
        
      <p class="au-xs-ta-right au-pt-4 group-buttons">
        <a onclick="openForm()" class="arrow-button arrow-button--right arrow-button--out">
          Comprar
        </a>          
      </p>   
      <h5 class="ae-u-bolder">Precio $49.000.oo</h5>     
      </div>
    </div>
  </div>  

<div class="modalDialog" id="myForm">  
<form id="contact-form" action="#0" class="ae-form--full">
  
  <input type="text" placeholder="* Name" required>
  <input type="email" placeholder="* Email" required>
  <textarea placeholder="Message ..." cols="30" rows="4"></textarea>
  <p class="au-xs-ta-right au-pt-4 group-buttons"><a href="#0" class="arrow-button arrow-button--right arrow-button--out">Enviar<span class="arrow-cont">
        <svg>
          <use xlink:href="assets/img/symbols.svg#arrow"></use>
        </svg></span></a></p>
  <!--Cerrar Modal-->
  <a href="#close" title="Close" class="close">X</a>
  <p class="au-xs-ta-right au-pt-4 group-buttons"></p>
</form>
</div>
  
  
  
  <div class="ae-grid__item item-lg-8 item-sm--center au-xs-ta-center au-lg-ta-left">
    <h2 class="rk-portfolio-inner-title ">VILLA DE LEYVA, Eccehomo, La Candelaria, Colombia Mágica</h2>
  </div>

  <div class="ae-container-fluid ae-container-fluid--inner rk-portfolio--inner">
    <div class="ae-grid ae-grid--collapse au-xs-ptp-1">
      <div class="ae-grid__item item-lg-5 au-lg-ptp-1">
        <h4 class="ae-u-bolder">VILLA DE LEYVA, Eccehomo, La Candelaria, Colombia Mágica
        </h4>
        <p class="ae-eta">Recorrido casual por las calles de esta hermosa e histórica villa colonial y sus alrededores, que engalanan la pintoresca región de Boyacá.
        </p>
        
<!-- <br>
<br>
<br>


<li>
  <p> Precio....</p>
  <a>

<input type="button" value="$49.000.oo">

  </a>
</li> -->

      
      </div>
      <div class="ae-grid__item item-lg-6 item-lg--offset-1">
        <img src="assets/productos/prod-1/pic-1.jpg" alt="Urku Portfolio">
      </div>
    </div>