
<br>
<br />
<div>
  <h2 style="text-align:center">Filosofia de vida</h2>
</div>

<br>
<br />
 


<p class="ae-eta">Los libros de fotografías son en sí un instrumento precioso para reflexionar nuestra forma de vida, sobre los cambios que generamos en nuestras sociedades, en nuestro medio ambiente y sus consecuencias. Son el medio conductor a descubrir nuevos vecindarios, a explorar diferentes latitudes, a borrar los limites de las extensiones, a la libertad de soñar, de acceder a nuevas aspiraciones y también a cumplir viejos anhelos. Pero especialmente a hacer visible lo invisible.</p>