
<br>
<br />
<!-- <div>
  <h2 style="text-align:center">Filosofia de vida</h2>
</div> -->

<br>
<br />
<div class="ae-grid au-pt-2">
  <div class="ae-grid__item item-lg-8 item-lg--offset-2">


<p> <IMG SRC="assets/img/JOA.jpg" align="left" border="2" hspace="15"> 
  
  
  
  Los libros de fotografías son en sí un instrumento precioso para reflexionar
   nuestra forma de vida, sobre los cambios que generamos en nuestras sociedades, en nuestro 
   medio ambiente y sus consecuencias.
   <br><br />

   Son el medio conductor a descubrir nuevos vecindarios, 
   a explorar diferentes latitudes, a borrar los limites de las extensiones, a la libertad de 
   oñar, de acceder a nuevas aspiraciones y también a cumplir viejos anhelos. Pero especialmente
    a hacer visible lo invisible.</p>

   

   </div>
   </div>