<style>
    .div-con-fondo{
        background-image: url('assets/img/fondo1.jpg');
        width: 100%;
}
</style>
<br>
<br>  
<br>
<hr>
<div style="text-align:center">
    
    <h4 class="ae-u-bolder">Proyectos especiales</h4>

</div>
 <p style="text-align: center;">
      
Concebir, diseñar y editar libros corporativos para apoyar estrategias de promoción y marca.<br />
Un plus eficaz en las relaciones publicas y comerciales. <br />
Así mismo, la reconstrucción de historias de familias, de personajes, a pedido, <br />  son publicaciones que abordamos con entusiasmo para convertirlos en libros para el deleite de todo público.
</p>
<hr>

